<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>login form</title>
    <style media="screen">
      .d1{
        margin: auto;
        text-align: center
      }
    </style>
  </head>
  <body>
    <form action="/login" method="post"> <!--수정해야할듯-->

      <div class="d1">
        <h1>Login</h1>
        &nbsp email : <input type="text" name="email"><br/>
        passwd : <input type="password" name="password"><br/>
      </div>
    </form>
    <div class="" style="text-align : center">
      <button class="ajaxsend" style="text-align: center">login</button>
    </div>

    <div class="result " style="text-align : center"></div>

    <script>
      document.querySelector('.ajaxsend').addEventListener('click', function(){
        var email = document.getElementsByName('email')[0].value;
        var password = document.getElementsByName('password')[0].value;
        sendAjax('http://localhost:3000/login', {'email':email, 'password':password});// 정확한 url 입려해줘라...
      })

      function sendAjax(url, data){
        data = JSON.stringify(data); //문자열 형태로 만든 json 형태로 바꿔준다

        var xhr = new XMLHttpRequest();
        xhr.open('POST', url);
        xhr.setRequestHeader('Content-Type', "application/json");
        xhr.send(data); //문자열형태로 보내져야한다.
        xhr.addEventListener('load', function(){
          var result = JSON.parse(xhr.responseText); //스트링 형태를 json화 시킨다?
          var resultDiv = document.querySelector(".result");

          //console.log(xhr.responseText);
          if(result.email) {
            //resultDiv.innerHTML = "welcome, " + result.email +" !!";
            window.location.href="/main";
          }
          else if (xhr.status === 401) resultDiv.innerHTML = result + "<div class='signup'><a href='/join'>Sign up</a></div>";
          else resultDiv.innerHTML = result;
        });
      }
    </script>
  </body>
</html>
